XMLDemo/WebContent/WEB-INF/employees.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Employees ( employee+)>
<!ELEMENT employee (name,salary)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT salary (#PCDATA)>

<!--<!ATTLIST employee eid ID #REQUIRED>-->
<!ATTLIST employee eid CDATA #REQUIRED>
<!--<!ATTLIST employee lang (java|php|python) >-->